<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Company Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link2</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  
    <!-- <div class="container-fluid cmp">
      <app-slideshow></app-slideshow>
    </div> -->
    <div class="jumbotron jumbotron-fluid text-white">
      <div class="container">
        <h1 class="display-4">{{ displayHeader }}</h1>
        <p class="lead">We understand your concern and we are here to help !!! <br> by providing you with world class services on a click of a button</p>
        
      </div>
    </div>
    <div class="cmp container-fluid">
      <div class="row">
        <div class="col"><app-sign-in></app-sign-in></div>
      </div>
    </div>
  
  <router-outlet></router-outlet>
  
</body>